---
---
<html>
	<head>
		<meta http-equiv=Content-Type content="text/html; charset=utf-8">
		<link rel="stylesheet" href="/mdl/material.min.css">
		<link rel="stylesheet" href="/css/index.css">
                <script src="./mdl/material.min.js"></script>
                <link href="//fonts.useso.com/icon?family=Material+Icons" rel="stylesheet">
                <link href='//fonts.useso.com/css?family=RobotoDraft:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'>
		<title>{{page.title}}</title>
	</head>
	<body>
                <div class="top mdl-grid">
                        <a href="/" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                        首页</a>
                        <a href="/photos" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                        照片</a>
                </div>
                <section class="layout">
                        <div class="header mdl-shadow--3dp">
                                <div class="face">
                                        <img src="/images/face.jpg"></img>
                                </div>
                                <div class="title">
                                        <h1>{{page.title}}</h1>
                                        <h2>初出茅庐——庐山旅游发展现状调研</h2>
                                </div>
                        </div>
                        {{content}}
                </section>
	</body>
</html>
